@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49424");
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2196f3; /* Material UI blue */
  --secondary-color: #ff4081; /* Material UI pink */
  --accent-color: #ff9800; /* Material UI orange */
  --shadow-color: #9e9e9e; /* Material UI grey */
}


button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
* {
  box-sizing: border-box;
}/* You can add global styles to this file, and also import other style files */
